@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@160;675&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Public Sans, sans-serif, Arial;
}

#red {
    margin: 0;
    padding: 0 0 10%;
    display: grid;
    grid-template-columns: repeat(186, 1fr);
    background-color: #dd2b24;
}

#red h1.title {
    margin-top: 0;
    margin-bottom: 3px;
    padding-top: 130px;
    grid-column: 1 / 187;
    text-align: center;
    font-size: 40pt;
    color: white;
}

#red h3.subtext {
    margin-top: 3px;
    margin-bottom: 0;
    grid-column: 1 / 187;
    text-align: center;
    font-size: 20pt;
    font-weight: lighter;
    color: white;
}

div.underline_container {
    grid-column: 1 / 187;
}

#red div.fake_start {
    grid-column: 1 / 90;
}

h1#underline {
    margin-top: -80px;
    margin-bottom: 40px;
    padding: 0;
    grid-column: 90 / 98;
    text-align: center;
    font-size: 70pt;
    color: white;
}

#red div.fake_end {
    grid-column: 98 / 187;
}

#underline:hover {
    margin-top: -50px;
    margin-bottom: 10px;
    cursor: default;
    transition: 1s;
}

.projects_container {
    margin: 0;
    padding: 0;
    grid-column: 1 / 187;
    display: grid;
    grid-template-columns: repeat(186, 1fr);
}

.projects_container div {
    height: 600px;
    overflow: hidden;
}

@media (min-width: 600px) {
    .projects_container div {
        height: 400px;
        overflow: hidden;
    }
}

@media (min-width: 1024px) {
    .projects_container div {
        height: 345px;
        overflow: hidden;
    }
}

div.projects {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15pt;
    background-color: #f35e58;
    color: white;
}

.photo {
    margin-left: -25%;
    height: 100%;
    transition: 300ms;
}

#camera {
    margin-left: -45%;
}

.photo:hover {
    margin-top: -20%;
    margin-left: -60%;
    height: 150%;
    transition: 300ms;
}

#camera:hover {
    margin-left: -90%;
}

.projects img {
    margin-top: 100px;
    margin-bottom: 0;
    height: 50px;
    width: 50px;
    transition: 200ms;
}

.projects h2 {
    margin-top: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 29pt;
    border: #f35e58 solid 0;
    transition: 200ms;
}

.projects h3 {
    margin-top: 0;
    padding-top: 0;
    font-size: 17pt;
}

#red div.margin_left {
    grid-column: 1 / 26;
}

div.col1 {
    grid-column: 26 / 94;
}

div.col2 {
    grid-column: 94 / 162;
}

div.col3 {
    grid-column: 26 / 94;
}

div.col4 {
    grid-column: 94 / 162;
}

#red div.margin_right {
    grid-column: 162 / 187;
}

@media (min-width: 1024px) {
    #red div.margin_left {
        grid-column: 1 / 26;
    }

    div.col1 {
        grid-column: 26 / 60;
    }

    div.col2 {
        grid-column: 60 / 94;
    }

    div.col3 {
        grid-column: 94 / 128;
    }

    div.col4 {
        grid-column: 128 / 162;
    }

    #red div.margin_right {
        grid-column: 162 / 187;
    }
}

.projects img:hover {
    margin-top: 75px;
    width: 100px;
    height: 100px;
    transition: 200ms;
}

.projects h2:hover {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30pt;
    text-shadow: 10px 5px 10px #1284bd;
    border-left: #1284bd inset 10px;
    border-right: #1284bd inset 10px;
    transition: 200ms;
    cursor: pointer;
}

@media (min-width: 1024px) and (max-width: 1368px) {
    .projects h2 {
        font-size: 14pt;
    }

    .projects h2:hover {
        font-size: 15pt;
    }

    .projects h3 {
        font-size: 10pt;
    }
}

#blue {
    margin: 0;
    padding: 0 0 10%;
    display: grid;
    grid-template-columns: repeat(465, 1fr);
    background-color: #1285be;
}

#blue h1.title {
    margin-top: 0;
    margin-bottom: 3px;
    padding-top: 130px;
    grid-column: 1 / 466;
    text-align: center;
    font-size: 40pt;
    color: white;
}

#blue h3.subtext {
    margin-top: 3px;
    margin-bottom: 0;
    grid-column: 1 / 466;
    text-align: center;
    font-size: 20pt;
    font-weight: lighter;
    color: white;
}

div.circle {
    grid-column: 1 / 466;
    text-align: center;
}

div.circle #circle {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    transition: 500ms;
}

div.circle #circle:hover {
    transition: 400ms;
    cursor: pointer;
    transform: rotate(180deg);
}

#circle:hover {
    transition: 400ms;
    cursor: pointer;
    transform: rotate(180deg);
}

.triangle {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    grid-column: 1 / 466;
    border-bottom: 40px solid white;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

div.form {
    grid-column: 1 / 466;
    display: grid;
    grid-template-columns: repeat(465, 1fr);
}

div.form div.margin_left {
    grid-column: 1 / 119;
}

div.form div#form {
    grid-column: 119 / 348;
    text-align: center;
    background-color: white;
    border: white solid 2px;
    border-radius: 5px;
}

div.form div.margin_right {
    grid-column: 348 / 466;
}

div.form div#form p {
    margin: 20px 10% 50px;
    font-size: 5pt;
    color: #959595;
}

@media (min-device-width: 600px) {
    div.form div#form p {
        font-size: 8pt;
    }
}

@media (min-device-width: 1024px) {
    div.form div#form p {
        font-size: 13pt;
    }
}

div.form div#form form input {
    margin-bottom: 20px;
    padding-left: 20px;
    width: 65%;
    height: 60px;
    font-size: 12pt;
    background-color: white;
    border: #d9d9d9 solid 1px;
    border-radius: 4px;
    transition: 200ms;
}

div.form div#form form input:hover,
div.form div#form form input:focus {
    outline: none;
    box-shadow: #1284bd 0 0 1.5px 1.5px;
    transition: 200ms;
}

#form form button {
    margin-top: 40px;
    margin-bottom: 90px;
    width: 200px;
    height: 65px;
    font-size: 14pt;
    color: white;
    background-color: #df2b24;
    border: #df2b24 solid 3px;
    border-radius: 3px;
    transition: 200ms;
}

#form form button:hover {
    background-color: #98241d;
    border-color: #98241d;
    transition: 200ms;
    cursor: pointer;
}

.cross_container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.cross {
    position: relative;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: grid;
    grid-column: 11;
    font-size: 20pt;
    line-height: 2;
    color: white;
    background-color: #dd2b27;
    border: white solid 2px;
    border-radius: 50%;
    transition: 200ms;
}

.cross:hover {
    background-color: #98241d;
    cursor: pointer;
}

#black {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(930, 1fr);
    font-size: 0;
    background-color: #2a2a2a;
}

#black h1.title {
    margin-top: 0;
    margin-bottom: 3px;
    padding-top: 130px;
    grid-column: 1 / 931;
    text-align: center;
    font-size: 40pt;
    color: white;
}

div.links {
    grid-column: 1 / 931;
    display: grid;
    grid-template-columns: repeat(930, 1fr);
}

div.links div.link {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: #515151 solid 2px;
    border-radius: 4px;
    transition: 200ms;
}

@media (min-width: 1024px) {
    div.links div.link {
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        width: 50px;
        height: 50px;

    }
}
div.links div.link img {
    margin-top: 30%;
}

div.links div.fake_start {
    grid-column: 1 ;
}

div.links div.col1 {
    grid-column: 1;
}

div.links div.col2 {
    grid-column: 1;
}

div.links div.col3 {
    grid-column: 1;
}

div.links div.col4 {
    grid-column: 1;
}

div.links div.fake_end {
    grid-column: 1;
}

@media (min-width: 1200px) {

    div.links div.col1 {
        grid-column: 380 / 411;
    }

    div.links div.fake1 {
        grid-column: 411 / 427;
    }

    div.links div.col2 {
        grid-column: 427 / 458;
    }

    div.links div.fake2 {
        grid-column: 458 / 474;
    }

    div.links div.col3 {
        grid-column: 474 / 505;
    }

    div.links div.fake3 {
        grid-column: 505 / 521;
    }

    div.links div.col4 {
        grid-column: 521 / 552;
    }

}

#black h6.subtext {
    margin-top: -45%;
    margin-bottom: 40px;
    grid-column: 1 / 931;
    text-align: center;
    font-size: 5pt;
    font-weight: lighter;
    color: #c3c3c3;
}

#black form#email {
    margin-top: -40%;
    grid-column: 1 / 931;
    text-align: center;
}

form#email {
    text-align: center;
}

form#email input {
    padding-left: 20px;
    width: 46%;
    height: 70px;
    font-size: 15pt;
    color: white;
    background-color: #515151;
    border: #515151 solid 3px;
    border-radius: 3px;
    transition: 200ms;
}

@media (min-width: 1200px) {
    #black h6.subtext {
        margin-top: 50px;
        margin-bottom: 40px;
        grid-column: 1 / 931;
        text-align: center;
        font-size: 16pt;
        font-weight: lighter;
        color: #c3c3c3;
    }

    #black form#email {
        margin-top: auto;
        grid-column: 1 / 931;
        text-align: center;
    }

    form#email {
        text-align: center;
    }

    form#email input {
        padding-left: 20px;
        width: 46%;
        height: 70px;
        font-size: 15pt;
        color: white;
        background-color: #515151;
        border: #515151 solid 3px;
        border-radius: 3px;
        transition: 200ms;
    }

}

form#email input:hover,
form#email input:focus {
    outline: none;
    box-shadow: #df2b24 0 0 1.5px 1.5px;
    transition: 200ms;
}

form#email button {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 205px;
    height: 70px;
    font-size: 17pt;
    color: white;
    background-color: #2a2a2a;
    border: #515151 solid 3px;
    border-radius: 3px;
    transition: 200ms;
}

div.links div.link:hover,
form#email button:hover {
    border-color: #df2b24;
    transition: 200ms;
    cursor: pointer;
}

footer {
    position: relative;
    height: 100px;
    font-size: 19pt;
    color: #c3c3c3;
    background-color: #515151;
}

footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    text-align: center;
    font-weight: lighter;
    transform: translate(-50%, -50%);
}

